// modules
@import './breakpoints';


.main__inner {
   height: 100%;
}

.all-contacts-cont {
   height: calc(100% - var(--page-title-h));
   max-height: calc(100% - var(--page-title-h));
   overflow-y: auto;
   padding-bottom: var(--page-title-h);
   mask-image: linear-gradient(0deg, #00000030, black 10%);
   
   scrollbar-width: 0px;
   
   &::-webkit-scrollbar {
      width: 0px;
      height: 0px;  
   }
   
   @include md {
      padding-right: 1.2rem;
   }
}

.all-contacts-cont__contacts-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
   // gap: .5rem;
}